<table class="admin">
  <tr>
    <th>Título:</th> 
    <td><%= f.text_field :title_es, :size => 92 %></td>
  </tr>
  
  <tr>
    <th>Descripción</th>
    <td><%= f.text_area :body_es, :size => "80x5" %></td>
  </tr>

  <tr>
    <th>Izenburua:</th> 
    <td><%= f.text_field :title_eu, :size => 92 %></td>
  </tr>

  <tr>
    <th>Deskribapena</th>
    <td><%= f.text_area :body_eu, :size => "80x5" %></td>
  </tr>

  <tr>
    <th>Title</th> 
    <td><%= f.text_field :title_en, :size => 92 %></td>
  </tr>
  
  <tr>
    <th>Description</th>
    <td><%= f.text_area :body_en, :size => "80x5" %></td>
  </tr>
  
  <tr>
    <th>Borrador?</th>
    <td><%= f.check_box :draft %></td>
  </tr>
  
  <tr>
    <th>Destacar?</th>
    <td><%= f.check_box :featured %><label for="album_featured">Sí</label></td>
  </tr>
  <tr>
    <th>Tags</th>
    <td>
      <%= text_area_with_auto_complete :album, :tag_list, {:size => "60x5"}, {:tokens => ',', :indicator => "spinner"} %>
      <span id="spinner" style = 'display:none'>
      <%= image_tag 'admin/spinner.gif' %>
      </span>
      <%= render :partial => "/admin/tags/help", :locals => {:object => @album} %>
    </td>
  </tr>
  
</table>
