<tr>
  <td><%= client_row.code %></td>
  <td><%= link_to client_row.name, admin_external_client_path(client_row) %></td>
  <td><%= client_row.url %></td>
  <td><%= client_row.organization_name %></td>  
  <td><%= client_row.notes %></td>    
</tr>
