<div class='section container'>
  <div class='section_main row-fluid'>
    <div class='section_content span7'>
      <div class="login_form">
        <%= content_tag(:span, t('login.access_irekia', :site_name => Settings.site_name).html_safe, :class => 'mod_title') %>
        
        <%= content_tag :div, t('login.info_for_embed', :publisher_name => Settings.publisher[:name],
                        :link => link_to(root_with_locale_url, root_with_locale_url(:target => "_blank"))).html_safe, 
                        :class => 'login_info' %>
        
        <div class="form_block">
          <h4><%= t 'session.Introduce_email' %></h4>
          <p><%= t('session.y_te_enviaremos')%></p>

          <%= form_tag password_resets_url, :class => 'form-inline' do -%>
            <%= hidden_field_tag :return_to, embed_login_path() %>
            <div class='control-group'>
            <%= text_field_tag 'email', '', :class => 'input-large' %>
            </div>
            <div class='btn_with_spinner'>
            <%= submit_tag t('enviar'), :class => 'irekia_btn' %>
            </div>
          <% end %>
        </div>
        <%= render :partial => '/sessions/social_signin' %>
      </div>
    </div>  
  </div>
</div>


