<p>
  <%= t('notifier.hola_user', :name => @user.public_name) %>,
</p>

<p>
  <%= t('notifier.password_reset.click_to_reset') %><br/>
  <%= edit_password_reset_url(@user.password_reset_token, locale: I18n.locale) %>
</p>

<p>
  <%= t('notifier.password_reset.ignore_if_not_requested') %>
</p>

<%= render partial: '/notifier/footer' %>