<div class='control-group'>
  <%= f.label :wants_bulletin, User.human_attribute_name(:wants_bulletin), :class => 'control-label' %>
  <div class='controls'>
    <label class='checkbox'>
      <%= f.check_box :wants_bulletin, :checked_value => 1, :class => "requires_alerts_locale" %>
      <span class='help-inline'><%= t('people.wants_bulletin', :site_name => Settings.site_name) %></span>
      <% if f.object.bulletin_sent_at.present? %>
        <span class='help-inline'><%= t('people.last_bulletin_sent', :date => l(f.object.bulletin_sent_at.to_date, :format => :long)) %></span>
      <% end %>
    </label>           
  </div>
</div>

<div class='control-group' id="alerts_locale_container">
  <%= f.label :alerts_locale, t('journalists.idioma_alertas'), :class => 'control-label' %>
  <div class='controls'>
    <% Bulletin::AVAILABLE_LANGUAGES.each do |locale, language| %>
      <label class='radio inline'>
        <%= f.radio_button :alerts_locale, locale, :checked => (f.object.wants_bulletin? ? f.object.alerts_locale : params[:locale].to_s) == locale.to_s %>
        <%= language %>
      </label>           
    <% end %>            
  </div>
</div>
