<ul class='nav-list'>
  <li><%= link_to t('videos.title'), videos_url %></li>
  <li class='indented'><%= link_to t('videos.closed_captions'), closed_captions_videos_path %></li>
  <li><%= link_to t('photos.title'), albums_url %></li>
  <li><%= link_to 'Argazki', 'http://argazki.irekia.euskadi.net', :rel => 'external' %></li>
  <li><%= link_to t('site.graficos_irekia'), 'http://grafikoak.irekia.euskadi.net', :rel => 'external' %></li>
</ul>
