<div class='section container videos index'>
  <%= render :partial => '/shared/context', :locals => {:type => 'videos'} if show_context %>
  <div class='section_main row-fluid'>
    <div class='section_content span12'>
      <%= content_tag(:div, @title.mb_chars.upcase.to_s, :class => 'section_heading') unless show_context %>
      <div class='videos index'>
        <%= render :partial => "featured" if @featured_video %>

        <div class='section_heading'><%= show_see_more_heading('videos', @context) %></div>
        
        <%= render :partial => '/shared/grid_items', :locals => {:items => @videos, :in_groups_of => 4} %>
      </div>
    </div>
  </div>
</div>
