<div id='header_logos' class="container">
  <div class='row-fluid'>
    <%= link_to image_tag(asset_path('logo-header.png'), :alt => "#{Settings.site_name} logo", :style=>"width:125px;"), root_path, :class => "logo pull-left" %>
  </div>
</div>
<div id='header_tools_container' class='fullcontainer'>
  <div id='header_tools' class="container">
    <!--
    <ul class="languages pull-left">
      <li><%= link_to h('<<'), lang_path, :class => 'passive' %></li>
      <li><%= change_locale_link('es') %></li>
      <li class='last'><%= change_locale_link('eu') %></li>
      <li class='last'><%= change_locale_link('en') %></li>
    </ul>
    -->
    <ul class="user_options pull-right">
      <% header_links[locale_es_or_eu].each_with_index do |hl, i| %>
        <li <%='class=last' if i == header_links[locale_es_or_eu].length - 1 %>>
          <%= link_to hl[:text], hl[:url], :title => hl[:title], :data_popup => true, :rel => 'external' %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
