{"tabs": [
	{"long_title": 1, "short_title": 2, "class_type": "News_view_controller",
	"unique_id": 1,
	"tab_image": "iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAACXBIWXMAAAsTAAALEwEAmpwYAAADGGlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjaY2BgnuDo4uTKJMDAUFBUUuQe5BgZERmlwH6egY2BmYGBgYGBITG5uMAxIMCHgYGBIS8/L5UBFTAyMHy7xsDIwMDAcFnX0cXJlYE0wJpcUFTCwMBwgIGBwSgltTiZgYHhCwMDQ3p5SUEJAwNjDAMDg0hSdkEJAwNjAQMDg0h2SJAzAwNjCwMDE09JakUJAwMDg3N+QWVRZnpGiYKhpaWlgmNKflKqQnBlcUlqbrGCZ15yflFBflFiSWoKAwMD1A4GBgYGXpf8EgX3xMw8BSNTVQYqg4jIKAUICxE+CDEESC4tKoMHJQODAIMCgwGDA0MAQwJDAUMjw0SGhQwbGQ4yXGR4yPCRkYlRmdGdMYdxMuMexhdMokyuTGVMK5nuM4sxBzB3M59k4WDxYullucwqxZrCup71L5sv2zy2T+we7PPZf3KEcmziFOIs4bzBZcu1lJufu5r7JU8kzyleO94tfDp8y/iV+BcIKAgsElQTXCNkIrRP2Ev4pkimyG/RfjFVsb3iEeJfJCZJGklekaqUlpc+LlMkKyd7Rq5WXl/+icIsxSAlXqWTyh0qHqrcqufVpqnHaWhqfNM8ojVVO13HRldY97XeMf3FBk2GSUauxlomgia/TJ+YXTQ/YLHRconVTOsJNp22LXaN9g0OjY4tTp3OE1xmui5x2+h+wOOi5xOvnz6Cvlp+rv5JAY2Bi4OOBb8OFQqzCU+PmBJ5JOprjGZsXNzU+POJXEkeye0pJ9N40oMyZmY+ztbPqck9ky9bUFh4vFiupKL0SrlhxcTKz9XhNXvrVOr7Gn41ZTTfaPVq29th3Lm6W7VnYZ98//yJipOWTtGeunm67YyTs8Jnv5hbNZ9vwZJFNouvLS1eLrhi46rg1T/WzlvvtuHjprlbvLf+2b5uZ9JuyT0X9/Uc8DjEfvj40a7jfidFT909s+JcyQXnSyKXn13dfX3izazbrneV7jM8ePjoyJOVz/pfVLxKfhPwzv6DwSelL+Lf+H6w/2L6/f/vv///ARFyC0gYH/UWAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGOSURBVHjazJXBLgNRFIa/uZ2pKgnKopIuRURIrLyCnR0hEpYSJBaWXsB7eAEegYU1SyXUpkkjTVDEtJkem8mEe0/bidk4dzGTf879c879/7nHiJdteeKRKQwZw65A+uWmIfAYJ6dsDfkgGkwglDihQt7KCrjhmJZWg01QoUqDWyurTcgNpzwpjfwSBSnLsxwKzlqWN9mTnGDLqKmgHWSVbVY4J29/1QgCBX3hjAs89pkZ3MKRGKUJBFmUJ9kR83OPr1TQpcBV/L7EdYIf8MAY1g5ftYxQTE77MX6O8MUQke0GX7V3yHB8DgHrCdpm3nWCRhBRoBSndriP0VG2uKObhsBDeE2UqMbPCVqYdBUY2szFqWNsJrTvzKYj6DLEpfM/TLLBg2uyXio0CCzsnRCTjsAQsuqgOb6Ycz3ay0iXTmqRXWrpVAChrqCfaVXIqS0ALLgtGMUFTbfQOOp07Bp85eJco6zeCcIU44NupGmpSf/Y6j9YfBYZ6TkthIhbmn+dC+p8yDza/gNBxuH6PQDeWO7lgRp/gwAAAABJRU5ErkJggg==",
	"data": {
		"main_url": "<%= url_for :controller => "mob_app", :action => "news", :only_path => false %>",
		"row_height": 90,
		"padding": 4,
		"image_size": [70, 70],
		"image_alignment": 1,
		"title_lines": 2,
		"title_size": 15,
		"title_color": [0, 91, 140],
		"text_size": 12,
		"text_color": [64, 64, 64],
		"footer_alignment": -1,
		"back_normal_color": [255, 255, 255],
		"back_highlight_color": [186, 196, 210],
		"ttl": 600,
		"download_if_virgin": true,
		"allow_manual_reload": true,
		"search_bar": "<%= url_for(:controller => "mob_app", :action => "search", :locale => '_LNG_', :only_path => false, :q => '_WORDS_', :page => '_PAGE_', :type => 'news').gsub(/&amp;/, '&') %>",
		"tags_regex": ["<%= (url_for(:controller => "mob_app", :action => "tags", :only_path => false, :locale => '_LNG_').gsub(/&amp;/, '&') + '?q=([^?]+)&type=News').gsub("_LNG_", "[a-z]*").gsub("tags?", "tags[?]") %>"],
		"tags_url": "<%= url_for(:controller => "mob_app", :action => "tags", :locale => '_LNG_', :only_path => false, :q => '_WORDS_', :page => '_PAGE_', :type  => 'News').gsub(/&amp;/, '&') %>",
		"videos_regex": ["<%= (url_for(:controller => "mob_app", :action => "videos", :only_path => false, :locale => '_LNG_').gsub(/&amp;/, '&') + '?news_id=([0-9]*)').gsub("_LNG_", "[a-z]*").gsub("videos?", "videos[?]") %>"],
		"videos_url": "<%= url_for(:controller => "mob_app", :action => "videos", :locale => '_LNG_', :only_path => false, :news_id => '_WORDS_').gsub(/&amp;/, '&') %>"
		}},
	{"long_title": 3, "short_title": 4, "class_type": "News_view_controller",
	"unique_id": 2,
	"tab_image": "iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAACXBIWXMAAAsTAAALEwEAmpwYAAADGGlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjaY2BgnuDo4uTKJMDAUFBUUuQe5BgZERmlwH6egY2BmYGBgYGBITG5uMAxIMCHgYGBIS8/L5UBFTAyMHy7xsDIwMDAcFnX0cXJlYE0wJpcUFTCwMBwgIGBwSgltTiZgYHhCwMDQ3p5SUEJAwNjDAMDg0hSdkEJAwNjAQMDg0h2SJAzAwNjCwMDE09JakUJAwMDg3N+QWVRZnpGiYKhpaWlgmNKflKqQnBlcUlqbrGCZ15yflFBflFiSWoKAwMD1A4GBgYGXpf8EgX3xMw8BSNTVQYqg4jIKAUICxE+CDEESC4tKoMHJQODAIMCgwGDA0MAQwJDAUMjw0SGhQwbGQ4yXGR4yPCRkYlRmdGdMYdxMuMexhdMokyuTGVMK5nuM4sxBzB3M59k4WDxYullucwqxZrCup71L5sv2zy2T+we7PPZf3KEcmziFOIs4bzBZcu1lJufu5r7JU8kzyleO94tfDp8y/iV+BcIKAgsElQTXCNkIrRP2Ev4pkimyG/RfjFVsb3iEeJfJCZJGklekaqUlpc+LlMkKyd7Rq5WXl/+icIsxSAlXqWTyh0qHqrcqufVpqnHaWhqfNM8ojVVO13HRldY97XeMf3FBk2GSUauxlomgia/TJ+YXTQ/YLHRconVTOsJNp22LXaN9g0OjY4tTp3OE1xmui5x2+h+wOOi5xOvnz6Cvlp+rv5JAY2Bi4OOBb8OFQqzCU+PmBJ5JOprjGZsXNzU+POJXEkeye0pJ9N40oMyZmY+ztbPqck9ky9bUFh4vFiupKL0SrlhxcTKz9XhNXvrVOr7Gn41ZTTfaPVq29th3Lm6W7VnYZ98//yJipOWTtGeunm67YyTs8Jnv5hbNZ9vwZJFNouvLS1eLrhi46rg1T/WzlvvtuHjprlbvLf+2b5uZ9JuyT0X9/Uc8DjEfvj40a7jfidFT909s+JcyQXnSyKXn13dfX3izazbrneV7jM8ePjoyJOVz/pfVLxKfhPwzv6DwSelL+Lf+H6w/2L6/f/vv///ARFyC0gYH/UWAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGCSURBVHja7JQ7LINRGIafv6hbBwPRwUZiMlvE5DJImDBYzVarCZOQuCQSgwSDiIRVopFQCUklCIu4dqiKEE0vRPsa/L/+pTcdxfstX875nvO9J+diiMLl4E/ALho5ZgKXGZ0EaTfzPgK0UmmrVjIcWlRMFzqXV2HFFFNMXl1p38z3dKlDhdRsEXZ4SZK0oBH1KKJP9WpW/WberRkNSnqyCLvtAQDqWMNPqTlWwzK1Zu5mlXqgKp3tsNkhqjdZimtbCW1pXZJXczqTpHSdLZVR8pUbDGPwjIcNxrhlHl9+R/XKAwZOHrnmhh3cjFLBSbKgOAscYJwmOtglQAPvvBAinFKRZs9J3WtSkuTRtM50IOlE/uSeDdvDSDDFTMrKTlw8k8CFkygOwpRTxBHGT9sGQS4Kv57FeRCl2crb2MwI+mjJ3ivASkb4hhxGTxks/D13EM8YB7k63307rtS5HPA5Q4XZjuRBvKbvHKeLipywjbBfzweq83Ibsf4x4//T/50+BgCZGgR3jtTfFQAAAABJRU5ErkJggg==",
	"data": {
		"main_url": "<%= url_for :controller => "mob_app", :action => "events", :only_path => false %>",
		"row_height": 75,
		"padding": 4,
		"image_size": [70, 70],
		"title_lines": 2,
		"title_size": 15,
		"title_color": [0, 91, 140],
		"text_size": 12,
		"text_color": [64, 64, 64],
		"footer_alignment": -1,
		"back_normal_color": [255, 255, 255],
		"back_highlight_color": [186, 196, 210],
		"ttl": 600,
		"download_if_virgin": true,
		"allow_manual_reload": true,
		"navigation_changes_section": true,
		"search_bar": "<%= url_for(:controller => "mob_app", :action => "search", :locale => '_LNG_', :only_path => false, :q => '_WORDS_', :page => '_PAGE_', :type => 'events').gsub(/&amp;/, '&') %>"
		}},
	{"long_title": 7, "short_title": 8, "class_type": "Gallery_view_controller",
	"unique_id": 4,
	"tab_image": "iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAACXBIWXMAAAsTAAALEwEAmpwYAAADGGlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjaY2BgnuDo4uTKJMDAUFBUUuQe5BgZERmlwH6egY2BmYGBgYGBITG5uMAxIMCHgYGBIS8/L5UBFTAyMHy7xsDIwMDAcFnX0cXJlYE0wJpcUFTCwMBwgIGBwSgltTiZgYHhCwMDQ3p5SUEJAwNjDAMDg0hSdkEJAwNjAQMDg0h2SJAzAwNjCwMDE09JakUJAwMDg3N+QWVRZnpGiYKhpaWlgmNKflKqQnBlcUlqbrGCZ15yflFBflFiSWoKAwMD1A4GBgYGXpf8EgX3xMw8BSNTVQYqg4jIKAUICxE+CDEESC4tKoMHJQODAIMCgwGDA0MAQwJDAUMjw0SGhQwbGQ4yXGR4yPCRkYlRmdGdMYdxMuMexhdMokyuTGVMK5nuM4sxBzB3M59k4WDxYullucwqxZrCup71L5sv2zy2T+we7PPZf3KEcmziFOIs4bzBZcu1lJufu5r7JU8kzyleO94tfDp8y/iV+BcIKAgsElQTXCNkIrRP2Ev4pkimyG/RfjFVsb3iEeJfJCZJGklekaqUlpc+LlMkKyd7Rq5WXl/+icIsxSAlXqWTyh0qHqrcqufVpqnHaWhqfNM8ojVVO13HRldY97XeMf3FBk2GSUauxlomgia/TJ+YXTQ/YLHRconVTOsJNp22LXaN9g0OjY4tTp3OE1xmui5x2+h+wOOi5xOvnz6Cvlp+rv5JAY2Bi4OOBb8OFQqzCU+PmBJ5JOprjGZsXNzU+POJXEkeye0pJ9N40oMyZmY+ztbPqck9ky9bUFh4vFiupKL0SrlhxcTKz9XhNXvrVOr7Gn41ZTTfaPVq29th3Lm6W7VnYZ98//yJipOWTtGeunm67YyTs8Jnv5hbNZ9vwZJFNouvLS1eLrhi46rg1T/WzlvvtuHjprlbvLf+2b5uZ9JuyT0X9/Uc8DjEfvj40a7jfidFT909s+JcyQXnSyKXn13dfX3izazbrneV7jM8ePjoyJOVz/pfVLxKfhPwzv6DwSelL+Lf+H6w/2L6/f/vv///ARFyC0gYH/UWAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAIZSURBVHjatJQ9aBRRFIW/NzO7YY0bIRAWQppgDCiCroTFtRESIRjBIBIFQ9p0gqVdxNKAdmJhIShYRDSNphAxIigWWySKxhR2FqZRx/1zNzvHIrPjjPuDm5A7xXvDvG/evYdzryWz/cfIsO2w2EHs6OZWsKKn/h8WMM4AAmwKvOJrC7yJio569Fb1cDUjZLVX+2+i/dzgCXlAWBhO85E7zcpwQugphvkNHGSa96xjsIBuJphAbAJg85nXeD4uIyOE0EMV5cpVUZ5KcpVXOCpy5SqvBzLyi63Do1qSq2jUdFVZHVdax5RVLtDgjYa28HraKUaJA/CUGGPYbLDID1JBnUtskiZGkizJsNpoSt/9Px9VRiVJ79StBf1SRRUV9VMndVElP6MjWzc32rMCVJlhjhUm+cRhDnCLHh4zQprVsGWcBtjGAdYos58PLLIOPOcQZ+ljjUL4qNPCtg5dlLnCC8CwzDIv2dtJV1nsCZK0SeB1AotysK9RbfR3+37uoxcBCQaI/9NpTWGDAVzydHGdy4AY4R4ZNsE3aUvBCoBhii/c5QKzbADjjPGMFc7T3x5OkSDGNXJkSHKG20CVb8wxzKNo/zXC8zjEgCHus8BN/2iNc0ziRct0gjXu70746z4ukSeHDXhYTDMY6GRF4RolElE5MMyG3jwq9S6mFp1hvQwSb7BBLJRmNfR1lVIYVqdTd9fm9u7DfwYAAe4+eFNQhdcAAAAASUVORK5CYII=", 
	"data": {
    "main_url": "<%= url_for :controller => "mob_app", :action => "photos", :only_path => false %>",
    "row_height": 102,
    "cells_per_row": 3,
    "padding": 6,
    "cell_normal_color": [0, 0, 0],
    "cell_highlight_color": [12, 12, 12],
    "cache_size": 50,
    "ttl": 600,
    "download_if_virgin": true,
    "allow_manual_reload": true,
    "cache_size": 144,
    "stretch_images": true,
		"gallery_regex": ["<%= (url_for(:controller => "mob_app", :action => "photos", :only_path => false, :locale => '_LNG_').gsub(/&amp;/, '&') + '?news_id=([0-9]*)').gsub("_LNG_", "[a-z]*").gsub("photos?", "photos[?]") %>"],
		"gallery_url": "<%= url_for(:controller => "mob_app", :action => "photos", :locale => '_LNG_', :only_path => false, :news_id => '_WORDS_').gsub(/&amp;/, '&') %>"
     }},
    {"long_title": 9, "short_title": 10, "class_type": "News_view_controller",
        "unique_id": 5,
        "tab_image": "iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAQAAACROWYpAAAACXBIWXMAAAsTAAALEwEAmpwYAAADGGlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjaY2BgnuDo4uTKJMDAUFBUUuQe5BgZERmlwH6egY2BmYGBgYGBITG5uMAxIMCHgYGBIS8/L5UBFTAyMHy7xsDIwMDAcFnX0cXJlYE0wJpcUFTCwMBwgIGBwSgltTiZgYHhCwMDQ3p5SUEJAwNjDAMDg0hSdkEJAwNjAQMDg0h2SJAzAwNjCwMDE09JakUJAwMDg3N+QWVRZnpGiYKhpaWlgmNKflKqQnBlcUlqbrGCZ15yflFBflFiSWoKAwMD1A4GBgYGXpf8EgX3xMw8BSNTVQYqg4jIKAUICxE+CDEESC4tKoMHJQODAIMCgwGDA0MAQwJDAUMjw0SGhQwbGQ4yXGR4yPCRkYlRmdGdMYdxMuMexhdMokyuTGVMK5nuM4sxBzB3M59k4WDxYullucwqxZrCup71L5sv2zy2T+we7PPZf3KEcmziFOIs4bzBZcu1lJufu5r7JU8kzyleO94tfDp8y/iV+BcIKAgsElQTXCNkIrRP2Ev4pkimyG/RfjFVsb3iEeJfJCZJGklekaqUlpc+LlMkKyd7Rq5WXl/+icIsxSAlXqWTyh0qHqrcqufVpqnHaWhqfNM8ojVVO13HRldY97XeMf3FBk2GSUauxlomgia/TJ+YXTQ/YLHRconVTOsJNp22LXaN9g0OjY4tTp3OE1xmui5x2+h+wOOi5xOvnz6Cvlp+rv5JAY2Bi4OOBb8OFQqzCU+PmBJ5JOprjGZsXNzU+POJXEkeye0pJ9N40oMyZmY+ztbPqck9ky9bUFh4vFiupKL0SrlhxcTKz9XhNXvrVOr7Gn41ZTTfaPVq29th3Lm6W7VnYZ98//yJipOWTtGeunm67YyTs8Jnv5hbNZ9vwZJFNouvLS1eLrhi46rg1T/WzlvvtuHjprlbvLf+2b5uZ9JuyT0X9/Uc8DjEfvj40a7jfidFT909s+JcyQXnSyKXn13dfX3izazbrneV7jM8ePjoyJOVz/pfVLxKfhPwzv6DwSelL+Lf+H6w/2L6/f/vv///ARFyC0gYH/UWAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAFfSURBVHja7JS/SsNQFMZ/t/8VFS2Is6CD4ObgJBZfQbrqIqIVnPoCPoUP4ODioL6CCNKtm0MfwEWFIm1Dkn4OaZoEr01rcRD87nC5SU6+757znWNk+DEyTIGc9akAMNZTKvMMy2RjBGXmx5UtDrjGHzCKRa44GZzGYM7Q55QthFijxhI9+/WMZSH0oUuVNKu6XrQq63dGybREqLBJBUOLex4trCbMtoAN9nCjF7yzzT7wRIMjsggQfcDQ5QYHw1BmTV2lwVdbbbX1qrKQiepcpkSdZky+hwtkKQ4rfUwVACeoetwkPg80Rlpqd7B3gt8lHVayO2mY0nwsJ9N6+z/4V4OV3CcLLuJxxzO5oNKTBc/R45BbikFcLtZiPm+W1oyjg0sP5+sA9ChwTmuEFo8dFrigQj4cUWFLnikdfXmSFLZkNElWWMeQGSHb4OJTwMehiQffj6E0mGTC/pA9PwcAbVLTRAR/2KYAAAAASUVORK5CYII=",
        "data": {
          "main_url": "<%= url_for :controller => "mob_app", :action => "videos", :only_path => false %>",
          "row_height": 76,
          "padding": 4,
          "image_size": [85, 50],
          "title_lines": 3,
          "title_size": 15,
          "title_color": [0, 91, 140],
          "text_size": 12,
          "text_color": [64, 64, 64],
          "footer_alignment": 1,
          "back_normal_color": [255, 255, 255],
          "back_highlight_color": [186, 196, 210],
          "ttl": 600,
          "download_if_virgin": true,
          "allow_manual_reload": true,
          "search_bar": "<%= url_for(:controller => "mob_app", :action => "search", :locale => '_LNG_', :only_path => false, :q => '_WORDS_', :page => '_PAGE_', :type => 'videos').gsub(/&amp;/, '&') %>"
     }},
	{"long_title": 13, "short_title": 14, "class_type": "News_view_controller",
	"unique_id": 6,
	"tab_image": "iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAACXBIWXMAAAsTAAALEwEAmpwYAAADGGlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjaY2BgnuDo4uTKJMDAUFBUUuQe5BgZERmlwH6egY2BmYGBgYGBITG5uMAxIMCHgYGBIS8/L5UBFTAyMHy7xsDIwMDAcFnX0cXJlYE0wJpcUFTCwMBwgIGBwSgltTiZgYHhCwMDQ3p5SUEJAwNjDAMDg0hSdkEJAwNjAQMDg0h2SJAzAwNjCwMDE09JakUJAwMDg3N+QWVRZnpGiYKhpaWlgmNKflKqQnBlcUlqbrGCZ15yflFBflFiSWoKAwMD1A4GBgYGXpf8EgX3xMw8BSNTVQYqg4jIKAUICxE+CDEESC4tKoMHJQODAIMCgwGDA0MAQwJDAUMjw0SGhQwbGQ4yXGR4yPCRkYlRmdGdMYdxMuMexhdMokyuTGVMK5nuM4sxBzB3M59k4WDxYullucwqxZrCup71L5sv2zy2T+we7PPZf3KEcmziFOIs4bzBZcu1lJufu5r7JU8kzyleO94tfDp8y/iV+BcIKAgsElQTXCNkIrRP2Ev4pkimyG/RfjFVsb3iEeJfJCZJGklekaqUlpc+LlMkKyd7Rq5WXl/+icIsxSAlXqWTyh0qHqrcqufVpqnHaWhqfNM8ojVVO13HRldY97XeMf3FBk2GSUauxlomgia/TJ+YXTQ/YLHRconVTOsJNp22LXaN9g0OjY4tTp3OE1xmui5x2+h+wOOi5xOvnz6Cvlp+rv5JAY2Bi4OOBb8OFQqzCU+PmBJ5JOprjGZsXNzU+POJXEkeye0pJ9N40oMyZmY+ztbPqck9ky9bUFh4vFiupKL0SrlhxcTKz9XhNXvrVOr7Gn41ZTTfaPVq29th3Lm6W7VnYZ98//yJipOWTtGeunm67YyTs8Jnv5hbNZ9vwZJFNouvLS1eLrhi46rg1T/WzlvvtuHjprlbvLf+2b5uZ9JuyT0X9/Uc8DjEfvj40a7jfidFT909s+JcyQXnSyKXn13dfX3izazbrneV7jM8ePjoyJOVz/pfVLxKfhPwzv6DwSelL+Lf+H6w/2L6/f/vv///ARFyC0gYH/UWAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAGOSURBVHjazJXBLgNRFIa/uZ2pKgnKopIuRURIrLyCnR0hEpYSJBaWXsB7eAEegYU1SyXUpkkjTVDEtJkem8mEe0/bidk4dzGTf879c879/7nHiJdteeKRKQwZw65A+uWmIfAYJ6dsDfkgGkwglDihQt7KCrjhmJZWg01QoUqDWyurTcgNpzwpjfwSBSnLsxwKzlqWN9mTnGDLqKmgHWSVbVY4J29/1QgCBX3hjAs89pkZ3MKRGKUJBFmUJ9kR83OPr1TQpcBV/L7EdYIf8MAY1g5ftYxQTE77MX6O8MUQke0GX7V3yHB8DgHrCdpm3nWCRhBRoBSndriP0VG2uKObhsBDeE2UqMbPCVqYdBUY2szFqWNsJrTvzKYj6DLEpfM/TLLBg2uyXio0CCzsnRCTjsAQsuqgOb6Ycz3ay0iXTmqRXWrpVAChrqCfaVXIqS0ALLgtGMUFTbfQOOp07Bp85eJco6zeCcIU44NupGmpSf/Y6j9YfBYZ6TkthIhbmn+dC+p8yDza/gNBxuH6PQDeWO7lgRp/gwAAAABJRU5ErkJggg==",
	"data": {
          "main_url": "<%= url_for :controller => "mob_app", :action => "about", :only_path => false %>",
          "row_height": 90,
          "padding": 4,
          "title_lines": 2,
          "title_size": 15,
          "title_color": [0, 91, 140],
          "text_size": 12,
          "text_color": [64, 64, 64],
          "footer_alignment": -1,
          "back_normal_color": [255, 255, 255],
          "back_highlight_color": [186, 196, 210],
          "ttl": 600,
          "download_if_virgin": true,
          "allow_manual_reload": true
        }}
	],
"langs": [
	{"en": {
		"1":"News",
		"2":"News",
		"3":"Agenda",
		"4":"Agenda",
		"5":"Audio",
		"6":"Audio",
		"7":"Gallery",
		"8":"Gallery",
		"9":"Videos",
		"10":"Videos",
		"11":"Prefs",
		"12":"Here goes some\nmultiline text, I suppose",
		"13": "About",
		"14": "About",
		"10000":"Share this ...",
		"10001":"Share this picture...",
		"10002":"Copy address",
		"10003":"Send email",
		"10004":"Cancel",
		"10005":"[Irekia] <TITLE>",
		"10006":"[Irekia] <TITLE>",
		"10007":"Hi, <p>I thought you might be interested in this:</p> <p><A HREF=\"<URL>\"><TITLE></A></p> <p>Greetings</p> ",
		"10008":"Hi, <p>I thought you might be interested in this:</p> <p><A HREF=\"<URL>\"><TITLE></A></p> <p>Greetings</p> ", 
		"10010":"Share this movie...",
		"10013":"Comment on Twitter",
		"10015":"Browse the sections and select an item",
		"10016":""
        }},
	{"es": {
		"1":"Noticias",
		"2":"Noticias",
		"3":"Agenda",
		"4":"Agenda",
		"5":"Audio",
		"6":"Audio",
		"7":"Fototeca",
		"8":"Fototeca",
		"9":"Videos",
		"10":"Videos",
		"11":"Prefs",
		"12":"Aquí va un poco\nde texto multilínea, imagino",
		"13": "Acerca de",
		"14": "Acerca de",
		"10000":"Comparte...",
		"10001":"Comparte esta foto...",
		"10002":"Copiar dirección", 
		"10003":"Enviar por email",
		"10004":"Cancelar",
		"10005":"[Irekia] <TITLE>",
		"10006":"[Irekia] <TITLE>",
		"10007":"Hola, <p>He pensado que te interesará esto:</p> <p><A HREF=\"<URL>\"><TITLE></A></p> <p>Saludos</p> ",
		"10008":"Hola, <p>He pensado que te interesará esto:</p> <p><A HREF=\"<URL>\"><TITLE></A></p> <p>Saludos</p> ",
		"10010":"Comparte este video...",
		"10013":"Comentar en Twitter",
		"10015":"Consulta las secciones y elige una",
		"10016":""
		}},
	{"eu": {
		"1":"Berriak",
		"2":"Berriak",
		"3":"Agenda",
		"4":"Agenda",
		"5":"Audio",
		"6":"Audio",
		"7":"Fototeka",
		"8":"Fototeka",
		"9":"Bideoak",
		"10":"Bideoak",
		"11":"Prefs",
		"12":"Aquí va un poco\nde texto multilínea, imagino",
		"13": "Honi buruz",
		"14": "Honi buruz",
		"10000":"Partekatu...",
		"10001":"Partekatu argazki hau...",
		"10002":"Helbidea kopiatu", 
		"10003":"Bidali emailez",
		"10004":"Ezeztatu",
		"10005":"[Irekia] <TITLE>",
		"10006":"[Irekia] <TITLE>",
		"10007":"Kaixo, <p>Hau interesatuko zaizula pentsatu dut:</p> <p><A HREF=\"<URL>\"><TITLE></A></p> <p>Agur bero bat</p> ",
	  	"10008":"Kaixo, <p>Hau interesatuko zaizula pentsatu dut:</p> <p><A HREF=\"<URL>\"><TITLE></A></p> <p>Agur bero bat</p> ",
		"10010":"Partekatu bideo hau...",
		"10013":"Twitteren komentatu",
		"10015":"Atalak ikusi eta bat aukeratu",
		"10016":""
        }}
	],
"misc": {
	"launch_ping": "http://elhaso.com/",
	"news_loading_image": "news_loading.png",
	"gallery_loading_image": "gallery_loading.png",
	"error_image": "404.png"
	}
}
