<% content_for :js_data do  %>
  <%= javascript_include_tag 'public/participation' %>
<% end %>

<%= render :partial => 'shared/edit_links', :locals => {:item => @debate, :needed_privilege => 'can_access?'} %>

<% participation_disabled = (@stage.is_passed? ? :true : :false) %>
<div class='section_main row-fluid'>
  <div class='section_content span8'>
    <div class='article debate discussion'>
      <%= render :partial => '/votes/votes_form', :locals => {:votable => @debate, :participation_disabled => participation_disabled, :stage_label => @stage.label} %>
      <div class='text intro'>
        <% if @debate.description.present? -%>
          <%= highlight_according_to_criterio(@debate.description, @criterio) %>
        <% end %>
      </div>
      <%= render :partial => "/arguments/arguments", :locals => {:argumentable => @debate, :participation_disabled => participation_disabled, :stage_label => @stage.label} %>
      <%= render :partial => "/comments/list", :locals => {:parent => @debate, :comments => @debate.comments.approved.paginate(:per_page => 25, :page => params[:page])} %>
    </div>
  </div>
  <div class='section_aside span4'>
    <%= render :partial => '/headlines/list', :locals => {:headlines => @debate.approved_headlines} if @debate.approved_headlines.present? %>
  </div>
</div>
