<%= error_messages(f.object) %>

<table class="admin">
  <tr>
    <th>Nombre</th>
    <td><%= f.text_field :name_es %></td>
  </tr>
  
  <tr>
    <th>Izena</th>
    <td><%= f.text_field :name_eu %></td>
  </tr>
  
  <tr>
    <th>Name</th>
    <td><%= f.text_field :name_en %></td>
  </tr>
  
  <tr>
    <th>Tag de área</th>
    <td>
      <% if @area.new_record? %>
        <%= f.text_field :area_tag_name %>
      <% else %>
        <span class="tag tag_area"><%= @area.area_tag_name %></span>
      <% end %>
      <div class="hint">El tag del área es el que empieza por <b>_a_</b>. </div>
    </td>
  </tr>
    
  <tr>
    <th>Palabras clave</th>
    <td>
      <%= f.text_area :headline_keywords, :size => '40x4' %>
      <div class="hint">
        A través del rake task external::import_headlines se importan los titulares de http://entzumena.euskadi.net.
        Estas palabras clave se utilizan para determinar en qué área va cada uno de estos titulares.
      </div>
    </td>
  </tr>

  <tr>
    <th>Descripción</th>
    <td><%= f.text_area :description_es, :size => '60x6' %></td>
  </tr>
  
  <tr>
    <th>Deskribapena</th>
    <td><%= f.text_area :description_eu, :size => '60x6' %></td>
  </tr>
  
  <tr>
    <th>Description</th>
    <td><%= f.text_area :description_en, :size => '60x6' %></td>
  </tr>
  
</table>
