<h1><%= @area.name %></h1>

<%= render :partial => "edit_links", :locals => {:area => @area} %>

<ul class="edit_links">
  <li><%= link_to 'Modificar', edit_admin_area_path(@area), :class => "edit" %></li>
</ul>

<table class="admin">
  <tr>
    <th>Nombre</th>
    <td><%= @area.name_es %></td>
  </tr>
  <!--
  <tr>
    <th>Izena</th>
    <td><%= @area.name_eu %></td>
  </tr>

  <tr>
    <th>Name</th>
    <td><%= @area.name_en %></td>
  </tr>
  -->
  <tr>
    <th>Tags en castellano</th>
    <td><%= show_tags_with_classes(@area, false, false) %></td>
  </tr>

  <tr>
    <th>Palabras clave</th>
    <td><%= @area.headline_keywords %></td>
  </tr>

  <tr>
    <th>Descripción</th>
    <td><%= @area.description_es %></td>
  </tr>
  <!--
  <tr>
    <th>Deskribapena</th>
    <td><%= @area.description_eu %></td>
  </tr>

  <tr>
    <th>Description</th>
    <td><%= @area.description_en %></td>
  </tr>
  -->
</table>
