<%= error_messages(f.object) %>

<table class="admin">
  <tr>
    <th>Nombre</th>
    <td><%= f.text_field :name_es %></td>
  </tr>
  
  <tr>
    <th>Izena</th>
    <td><%= f.text_field :name_eu %></td>
  </tr>
  
  <tr>
    <th>Name</th>
    <td><%= f.text_field :name_en %></td>
  </tr>

  <tr>
    <th><%= f.label :active %></th>
    <td>
      <%= f.check_box :active %> Sí<br/>
      <span class="hint">Indica si debe mostrarse en la parte pública o no.</span>
    </td>
  </tr>

  <% if @organization.is_a?(Department) %>  
  <tr>
    <th>
      Tag de departamento:
    </th>
    <td>
      <%= f.text_field :tag_name %><br/>
      <span class="hint">Debe empezar por _, estar en minúsculas, y no tener sin espacios, ni tildes, ni ñ</span>
      <div>
      <%= link_to 'Ayuda', '#', :class => 'help_link' %>
      <div class="help" style="display:none;">
        El tag de departamento es un tag invisible que sirve para asignar contenidos a este departamento. Todos los
        contenidos que compartan este tag de departamento aparecerán en las páginas del departamento correspondiente.
      </div>
      
    </td>
  </tr>
  <% if Department.terms.length > 0%>
  <tr>
    <th>Legislatura</th>
    <td><%= f.select :term, Department.terms %></td>
  </tr>
  <% end %>
  <% else %>
  <tr>
    <th>Antecesor</th>
    <td><%= f.select :parent_id, Organization.active.where("parent_id IS NULL").order("position").collect {|o| [o.name, o.id]}%></td>
  </tr>
  <% end %>
  
  <% if Rails.configuration.external_urls[:guia_uri] %>
  <tr>
    <th>Id Guía de comunicación</th>
    <th>Id interno</th>
    <td>
      <%= f.text_field :gc_id, :size => 4 %><br/>
      <span class="hint">El id que le corresponde en la Guía de comunicación (http://www2.irekia.euskadi.net/) para enlazarlo</span>
    </td>
  </tr>
  <% end %>
  
</table>
