<% @title = t("admin.stream_flows.responsables_sala") %>

<%= render :partial => "/admin/stream_flows/menu" %>

<% if is_admin? && false %>
  <ul class="edit_links">
    <li class="add_user"><%= link_to "Añadir responsable de sala", new_admin_room_manager_path, :class => "new" %></li>
  </ul>
<% end %>

<table class="comments" cellspacing="0" cellpadding="2">
  <tr>
    <th width="20%"><%=t("admin.debates.nombre")%></th>
    <th width="20%"><%=t("admin.room_managers.email")%></th>
    <th width="20%"><%=t("admin.room_managers.telefono")%></th>
    <th width="20%"><%=t("admin.room_managers.salas")%></th>
  </tr>
  
  <% if @room_managers.empty? %>
    <tr><td colspan="4">Se definen en <%= link_to "la administración de usuarios", admin_users_path(:t => "RoomManager") %></td></tr>
  <% end%>
<% for m in @room_managers %>
  <tr>
    <td><%= h m.name %></td>
    <td><%= h m.email %></td>
    <td><%= m.telephone %></td>
    <td>
      <ul style="margin:0px;padding:0px 0px 0px 10px">
        <% m.stream_flows.each do |sf| %>
        <li><%= sf.title %></li>
        <% end %>
      </ul>
    </td>
  </tr>
<% end %>
</table>

