<%= render 'submenu' %>

<h2>Eventos</h2>

<%= form_tag event_admin_stats_path, :method => :get do %>
  <%= render 'date_select' %>
<% end %>
<table class="stats_container">
  <tr>
    <td>
      <table class="stats" cellspacing="0" cellpadding="0">
        <thead>
          <tr class="title">
            <th>Departamento</th>
            <th>Nº eventos</th>
            <th>Respuestas oficiales</th>
            <th>Comentarios<br/>(Original/Twitter)</th>
          </tr>
        </thead>
        <% Department.active.each do |department| %>
          <% department_finder = @counters_finder.where(["department_id=:department_id", {department_id: department.id}])%>
          <tr>
            <td><%= department.name %></td>
            <td class="number"><%= number_with_delimiter department_finder.count %></td>
            <td class="number"><%= number_with_delimiter department_finder.where("official_comments > 0").sum(:official_comments) %></td>
            <td class="number">
              <%= number_with_delimiter department_finder.sum(:user_comments)%><br/>
              (<%= number_with_delimiter department_finder.sum(:not_twitter_comments)%>/<%= number_with_delimiter department_finder.sum(:twitter_comments)%>)
            </td>
          </tr>
        <% end%>
        <tr class="title">
          <th>Totales</th>
          <th class="number"><%= number_with_delimiter @counters_finder.count %></th>
          <th class="number"><%= number_with_delimiter @counters_finder.where("official_comments > 0").sum(:official_comments) %></th>
          <th class="number">
            <%= number_with_delimiter @counters_finder.sum(:user_comments)%><br/>
            (<%= number_with_delimiter @counters_finder.sum(:not_twitter_comments)%>/<%= number_with_delimiter @counters_finder.sum(:twitter_comments)%>)
          </th>
        </tr>
      </table>
    </td>
    <td>
      
      <% title_components = [] %>
      <% title_components << 'Streaming' if Settings.optional_modules.streaming %>
      <% title_components << "Privados" %>

      <table class="stats" cellspacing="0" cellpadding="0">
        <tr class="title">
          <th colspan="2">
            <%= title_components.to_sentence %>
          </th>
        </tr>
        <tr>
          <td class="item">Eventos compartidos</td>
          <td class="number"><%= number_with_delimiter @counters_finder.count %></td>
        </tr>
        <% if Settings.optional_modules.streaming %>
        <tr>
          <td class="item">&nbsp;&nbsp;&nbsp;Con streaming</td>
          <td class="number"><%= number_with_delimiter @events_with_streaming %></td>
        </tr>
        <tr>
          <td class="item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;En sedes</td>
          <td class="number"><%= number_with_delimiter @events_with_streaming_in_sedes %></td>
        </tr>
        <tr>
          <td class="item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Itinerante</td>
          <td class="number"><%= number_with_delimiter @events_with_streaming_itinerante %></td>
        </tr>
        <tr>
          <td class="item">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sin sala o sala eliminada</td>
          <td class="number"><%= number_with_delimiter(@events_with_streaming - (@events_with_streaming_in_sedes + @events_with_streaming_itinerante)) %></td>
        </tr>
        <% end %>
        <tr>
          <td class="item">Eventos privados</td>
          <td class="number"><%= number_with_delimiter(@private_events_counter) %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
