<%- boletin_de_irekia = Bulletin.model_name.human.capitalize -%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml" lang="<%= I18n.locale %>" xml:lang="<%= I18n.locale %>">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= boletin_de_irekia %>: <%= @bulletin_copy.bulletin.title if @bulletin_copy %></title>
  <meta name="language" content="<%= I18n.locale %>" />
</head>
  <body style="margin:0; background-color:#dde4ec;">
    <table id="background-table" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
        <tr>
          <td align="center" bgcolor="#dde4ec" style="font-family: Arial,Helvetica,sans-serif;">

            <!-- Header -->
            <table id="welcome_table" class="w600" style="margin:0 10px;" border="0" cellpadding="0" cellspacing="0" width="600">
              <tbody>
                <tr>
                  <td colspan="4" class="w600" height="20" width="600" align="center"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>
                <%- if @bulletin_copy && !@web_version -%>
                <tr>
                  <td id="top-bar" bgcolor="#005A8C" class="header-content w600" width="600" height="40" align="center" style="color:#ffffff; font-size:12px;">
                    <span class="link_to_web"><%=raw t('bulletin_mailer.si_no_ves_bien', :link => link_to(t('pincha_aqui'), clickthrough_url(:id => encode_clickthrough(@bulletin_copy, @bulletin_copy), :locale => I18n.locale), :style => "color:#fff")) %></span>
                  </td>
                </tr>
                <%- end -%>
                <tr>
                  <td id="td_header_welcome" class="w600" bgcolor="#ffffff" width="600">    
                    <table class="w600" border="0" cellpadding="0" cellspacing="0" width="600">
                      <tbody>
                        <tr>
                          <td colspan="4" class="w570" height="10" width="570"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                        </tr>
                        <tr>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <td id="header_logo_welcome_1" class="w280" width="280" align="left">
                            <%= link_to image_tag("logo.png", :style => "display: inline;", :border => 0, :align => 'top', :alt => boletin_de_irekia, :width => "166", :height => "55"), root_path %>
                          </td>
                          <td id="header_logo_welcome_2" class="w280" width="280" align="right">
                            <%- if @trackable -%>
                              <% logo_image = image_tag(clickthrough_url(:id => encode_clickthrough(@bulletin_copy), :locale => I18n.locale), :style => "display: inline;", :border => 0, :align => 'top', :alt => 'logo', :width => "142", :height => "18") %>
                            <%- else -%>
                              <% logo_image = image_tag(Bulletin::TRACKING_IMAGE, :style => "display: inline;", :border => 0, :align => 'top', :alt => 'logo', :width => "142", :height => "18") %>
                            <%- end -%>
                            <%= link_to logo_image, "http://open.irekia.net/", :class => "net_logo pull-right", :rel => 'external' %>                            
                          </td>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                        </tr>                                 
                        <tr>
                          <td colspan="4" class="w570" height="10" width="570"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                        </tr>
                      </tbody>
                    </table>                
                  </td>
                </tr>
                <tr>
                  <td class="w600" bgcolor="#f2f5f9" height="15" width="600"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>
                <%- unless @web_version -%>
                <tr class="content-row">
                  <td class="w600" bgcolor="#f2f5f9" width="600">
                    <table class="w600" border="0" cellpadding="0" cellspacing="0" width="600">
                      <tbody>
                        <tr>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <td id="article_welcome" class="w560" width="560">
                            <table class="w560" border="0" cellpadding="0" cellspacing="0" width="560" style="font-size: 14px">
                              <tbody>
                                <% if @bulletin_copy.present? %>
                                  <tr>
                                    <td class="w560 welcome_title" width="560" align="left" style="color: #465866; font-size: 16px; font-weight: bold;"><p><%= t('bulletin_mailer.hola', :name => @bulletin_copy.present? ? @bulletin_copy.user.name : @user.name) %></p></td>
                                  </tr>
                                  <tr>
                                    <td class="w560 welcome_content" width="560" align="left" style="color: #465866;"><p><%= t('bulletin_mailer.porque_envio', :site_name => Settings.site_name) %></p></td>
                                  </tr>                           
                                  <tr>
                                    <td id="header_tools" class="w560" width="560" valign="middle" align="left" height="30px" style="color: #005a8c;font-size: 12px;">
                                      <%= link_to(t('bulletin_mailer.baja'), url_for(edit_bulletin_subscription_url(:id => @bulletin_copy.user.id.to_s(35), :locale => I18n.locale)), :style => "color: #005a8c; text-decoration: underline;") %>&nbsp;&nbsp;|&nbsp;
                                      <%= link_to(t('bulletin_mailer.ver_web'), clickthrough_url(:id => encode_clickthrough(@bulletin_copy, @bulletin_copy), :locale => I18n.locale), :style => "color: #005a8c; text-decoration: underline;") %>
                                    </td>
                                  </tr>    
                                <% else %>  
                                  <tr>
                                    <td class="w560 welcome_content" width="560" align="left" style="color: #465866;">
                                      <p><%= yield :bulletin_announcement %></p>
                                    </td>
                                  </tr>
                                <% end %>  
                                <tr>
                                  <td class="w560" height="10" width="560"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <%- end -%>
                <tr>
                  <td colspan ="4" class="w600" height="20" width="600" align="center"><%= image_tag("bulletin/triangulo.png", {:style => "display:block;", :width => "42", :height => "24"}) %></td>
                </tr>
              </tbody>
            </table>

            <%= yield %>

            <% if !@content_for_bulletin_announcement %>
            <!-- Footer -->

            <table id="footer_table" class="w600" style="margin:0 10px;" border="0" cellpadding="0" cellspacing="0" width="600">
              <tbody>
                <tr>
                  <td class="w600" height="15" width="600"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>
                <tr class="content_row">
                  <td id="shared_footer" class="w600" width="600">    
                    <table class="w600" border="0" cellpadding="0" cellspacing="0" width="600">
                      <tbody>
                        <tr>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <td id="label_shared" class="w125" width="125" align="left" style="color: #465866; font-size: 24px; font-weight: bold;">
                            <p><%= t('bulletin_mailer.siguenos') %></p>
                          </td>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <% bulletin_follow_links.each do |name, link| %>
                            <td id="<%= name %>" class="w30 shared_icon" align="left" width="30" style="color: #465866; font-size: 16px;">
                              <%= link_to image_tag("bulletin/#{name}.png", :alt => name, :border => '0', :align => 'top', :style => 'display:block', :width => "30", :height => "30"), link %>
                            </td>
                            <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>  
                          <% end %>
                          <td class="w315" width="315" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                        </tr>                                 
                      </tbody>
                    </table>                
                  </td>
                </tr>
                <tr>
                  <td class="w600" height="15" width="600"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>
                <tr>
                  <td class="w600" height="5" width="600" bgcolor="#ffffff"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>           

                <tr>
                  <td class="w600" height="15" width="600"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>

                <% if Settings.optional_modules.proposals %>
                <tr class="content_row">
                  <td id="proposal_footer" class="w600" width="600">    
                    <table class="w600" border="0" cellpadding="0" cellspacing="0" width="600">
                      <tbody>
                        <tr>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <td id="label_debate" class="w370" width="370" align="left" style="color: #465866; font-size: 14px;">
                            <p><%= t('bulletin_mailer.crear_peticion_text') %></p>
                          </td>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <td class="w170" width="170" height="40" bgcolor="#70b237" align="center" valign="middle">
                            <%= link_to(t('bulletin_mailer.crear_peticion'), new_proposal_url(:locale => I18n.locale), :style => "color: #ffffff; font-size: 14px;font-weight: bold;text-decoration: none;") %>
                          </td>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                        </tr>                                 
                      </tbody>
                    </table>                
                  </td>
                </tr>
                <% end %> 
                <tr>
                  <td class="w600" height="15" width="600"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>
                <tr>
                  <td class="w600" height="5" width="600" bgcolor="#ffffff"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>           

                <tr>
                  <td class="w600" height="15" width="600"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>
                <tr>
                  <td class="w600" height="15" width="600"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>
                <%- if !@web_version && @bulletin_copy.present?-%>
                <tr class="content_row">
                  <td id="footer_tools" class="w600" width="600">   
                    <table class="w600" border="0" cellpadding="0" cellspacing="0" width="600">
                      <tbody>
                        <tr>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <td id="footer_baja" class="170" width="170" height="40" bgcolor="#005a8c" align="center"  valign="middle">
                            <%= link_to(t('bulletin_mailer.baja'), url_for(edit_bulletin_subscription_url(:id => @bulletin_copy.user.id.to_s(35), :locale => I18n.locale)), :style => "color: #ffffff; font-size: 14px;font-weight: bold;text-decoration: none;") %>
                          </td>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <td id="footer_navegador" class="170" width="170"  height="40" bgcolor="#005a8c" align="center" valign="middle">
                            <%= link_to(t('bulletin_mailer.ver_web'), clickthrough_url(:id => encode_clickthrough(@bulletin_copy, @bulletin_copy), :locale => I18n.locale), :style => "color: #ffffff; font-size: 14px;font-weight: bold;text-decoration: none;") %>
                          </td>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <td class="w180" width="180" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                        </tr>                                 
                      </tbody>
                    </table>                
                  </td>
                </tr>
                <tr>
                  <td class="w600" height="15" width="600"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>
                <tr>
                  <td id="copyright_footer" class="w600" width="600" align="left">   
                    <table class="w600" border="0" cellpadding="0" cellspacing="0" width="600">
                      <tbody>
                        <tr>              
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                          <td class="w560" height="5" width="560" style="color: #465866; font-size: 14px;">
                            <p>
                            <%= I18n.t('bulletin_mailer.lopd', :site_name => Settings.site_name, 
                                       :publisher_address => Settings.publisher[:address],
                                       :email => @bulletin_copy.user.bulletin_email, 
                                       :link => link_to(t('bulletin_mailer.darte_baja'), url_for(edit_bulletin_subscription_url(:id => @bulletin_copy.user.id.to_s(35), :locale => I18n.locale)))) %>
                            </p>
                          </td>
                          <td class="w20" width="20" height="1"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>             
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>           
                <%- end -%>
                <tr>
                  <td class="w600" height="15" width="600"><%= image_tag("bulletin/spacer.gif", {:style => "display:block;", :height => "1", :alt => '&nbsp;'}) %></td>
                </tr>           
              </tbody>
            </table>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>      

  </body>
</html>
